<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="policyInjection" type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.Configuration.PolicyInjectionSettings, Microsoft.Practices.EnterpriseLibrary.PolicyInjection, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <policyInjection />
  <appSettings>
    <add key="AWSAccessKey" value="xxx" />
    <add key="AWSSecretKey" value="xxx" />
    <add key="EC2ServiceURL" value="https://ec2.eu-west-1.amazonaws.com" />
    <add key="SimpleDBServiceURL" value="https://sdb.eu-west-1.amazonaws.com" />
    <add key="SQSServiceURL" value="https://sqs.eu-west-1.amazonaws.com" />
    <add key="S3ServiceURL" value="s3-eu-west-1.amazonaws.com" />
    <add key="CloudFrontRoot" value="xxx" />
    <add key="BucketName" value="cranechat" />
  </appSettings>
</configuration>