<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="policyInjection" type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.Configuration.PolicyInjectionSettings, Microsoft.Practices.EnterpriseLibrary.PolicyInjection, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <policyInjection />
  <appSettings>
    <add key="AWSAccessKey" value="xxx" />
    <add key="AWSSecretKey" value="xxxt" />
    <add key="EC2ServiceURL" value="https://ec2.eu-west-1.amazonaws.com" />
    <add key="SimpleDBServiceURL" value="https://sdb.eu-west-1.amazonaws.com" />
    <add key="SQSServiceURL" value="https://sqs.eu-west-1.amazonaws.com" />
    <add key="S3ServiceURL" value="s3-eu-west-1.amazonaws.com" />
    <add key="CloudFrontRoot" value="xxx" />
    <add key="BucketName" value="cranechat" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>