<?xml version="1.0"?>

<configuration>

    <configSections>
        <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    </configSections>

    <dataConfiguration defaultDatabase="ApplicationServices" />
    <connectionStrings>
        <add name="ApplicationServices" connectionString="Data Source=vzmssql.clizdyopauba.eu-west-1.rds.amazonaws.com,1433;Initial Catalog=CraneChat;Persist Security Info=True;User ID=VictorZh;Password=xxx"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <add key="AWSAccessKey" value="xxx" />
        <add key="AWSSecretKey" value="xxx" />
        <add key="EC2ServiceURL" value="https://ec2.eu-west-1.amazonaws.com" />
        <add key="SimpleDBServiceURL" value="https://sdb.eu-west-1.amazonaws.com" />
        <add key="SQSServiceURL" value="https://sqs.eu-west-1.amazonaws.com" />
        <add key="S3ServiceURL" value="s3-eu-west-1.amazonaws.com" />
        <add key="CloudFrontRoot" value="xxx" />
        <add key="BucketName" value="cranechat" />
        <add key="BroadcastMessagesSDBDomain" value="cranechat" />
        <add key="GroupMessagesSDBDomain" value="cranechat" />
        <add key="PrivateMessagesSDBDomain" value="cranechat" />
        <add key="UserStateSDBDomain" value="userstate" />
    </appSettings>
    <system.web>

      <membership>
        <providers>
          <clear/>
          <add name="AspNetSqlMembershipProvider"
               type="System.Web.Security.SqlMembershipProvider"
               connectionStringName="ApplicationServices"
               enablePasswordRetrieval="false"
               enablePasswordReset="true"
               requiresQuestionAndAnswer="false"
               requiresUniqueEmail="true"
               maxInvalidPasswordAttempts="5"
               minRequiredPasswordLength="6"
               minRequiredNonalphanumericCharacters="0"
               passwordAttemptWindow="10"
               applicationName="/" />
        </providers>
      </membership>

      <roleManager enabled="true">
        <providers>
          <clear />
          <add connectionStringName="ApplicationServices" applicationName="/"
            name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
          <add applicationName="/" name="AspNetWindowsTokenRoleProvider"
            type="System.Web.Security.WindowsTokenRoleProvider" />
        </providers>
      </roleManager>

    </system.web>
  
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
</configuration>
